<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    

    <style>
      body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: url("https://www.softwareadvisoryservice.com/media/1349/cyber-2.png");
  color: #555;}


        #head1{
            height: 100px;
            color:brown;
            background-color:aqua;
            font-family: 'Courier New', Courier, monospace;
            font-size: 50px;
            
            text-align: center;
            border: 3px;
            border-color: black;
            border-style: solid;
        }
        .txt1{
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
            
        }
        #content
{ text-align: left;
  width: 620px;
  padding: 0 0 0 5px;
  float: right;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li, .sidebar ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 0 0;
  padding: 0 0 4px 25px;
  line-height: 1.5em;}
p{
  font-size: 15px;
}
    </style>


</head>
<body>
    <div id='head1'>
        Cyber Security Analysis
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="logo.jpg" alt="Logo" style="width:120px;">
      </a>
      
        
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link bg-light" href="#"><h5>Home</h5><span class="sr-only">(current)</span></a>
            </li>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            
            <li class="nav-item dropdown bg-light">
                <h5> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Algorithms
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="logistic.html">Logistic Regression</a>
                <a class="dropdown-item" href="random.html">Random Forest</a>
                
                
                
              </div>
            </h5>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0" action="https://www.google.com">
            
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Google</button>
          </form>
        </div>
      </nav>
      <div class="container-fluid">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm" style=" width:75%;">
                      
                      <div class="row" >
                      <div class="col-sm-2" style=" margin-left:15%;">

                          <div class="sidebar_item">
                              <!-- insert your sidebar items here -->
                            </br>
                          </br>
                              <h4>Logistic Regression </h4>
                              </br>

                              <h6 style="color: aqua"Logistic regression is the most famous machine learning algorithm after linear regression. 
                              In a lot of ways, 
                              linear regression and logistic regression are similar. 
                              But, the biggest difference lies in what they are used for. 
                              Linear regression algorithms are used to predict/forecast values but logistic regression is used for classification tasks. 
                              If you are shaky on the concepts of linear regression, check this out. 
                              There are many classification tasks done routinely by people. 
                              For example, classifying whether an email is a spam or not, 
                              classifying whether a tumour is malignant or benign, 
                              classifying whether a website is fraudulent or not, etc.</h6>
                              
                              <br /><a  style="color:red;"href="https://www.expertsystem.com/machine-learning-definition/">Read more</a></p>
                            </div>
                  
                      </div>
                    <div class="col-sm-6" >
                        
                    
                    </div> 
                    </div>
                    
                    
                    
                    </div>
                 
                </div>
            </div>
      </div> 
    

<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://martechtoday.com/wp-content/uploads/cld-assets/graphic1-1x_naysul.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://www.houseofbots.com/images/news/2947/cover.png" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://martechtoday.com/wp-content/uploads/2018/08/martech-machine-learning-sean-zinsmeister_ltazzg.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://miro.medium.com/max/875/0*EXruO45CjMU2iVce.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://martechtoday.com/wp-content/uploads/cld-assets/Conclusion_e3xpe9.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://www.visteon.com/wp-content/uploads/2016/11/as1.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

  

</body>
</html>